_site
node_modules
npm-debug.log
.DS_Store
*/.DS_Store
*/*/.DS_Store
*.sh
.idea/modules.xml
*.iml
.idea/libraries/R_User_Library.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
*.markdown___jb_tmp___
